@media (max-width: 767px){
	header{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #D6D3F0;
		padding: .5em 1em;
		img.homeLogo{
			height: 50px;
		}
		div{
			width: 40vw;
			margin: 0em 1em;
			img.instaLogo{
				height: 100%;
				width: 100%;
				position: relative;
				top: 0.3em;
			}
		}
		#profileTiny{
			height: 40px;
			border-radius: 100%;
			border: 1px solid black;
		}
	}

	div#displayInfo {
		width: 90vw;
		margin: 0 auto;
		padding: 1em;
		div.profileHolder{
			width: 30vw;
			margin: 0 auto;
			img#userPic {
			width: 100%;
			}
		}
		.userInfo {
			line-height: 100%;
			text-align: center;
		}
		
	}

	.gallery {
		padding: 1em 2em;
		ul#instaFeed {
			display: flex;
			flex-flow: row wrap;
			list-style: none;
			justify-content: space-around;
			border-top: 1px solid #bbb;
			border-bottom: 1px solid #bbb;
			padding-bottom: 2em;
			padding-top: 1em;
			li.insta-image {
				width: 25vw;
			}
			a img {
				width: 100%;
			} 
		}
	}

	
	#displayInfo{
		background-color: #fff;
		#userPic{
			border-radius: 100%;
		}
	}
	footer{
		text-align: center;
	}
} 
@media (min-width: 768px){
	header{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #D6D3F0;
		padding: .5em 1em;
		img.homeLogo{
			width: 5em;
		}
		div{
			width: 20vw;
			margin: 0em 1em;
			img.instaLogo{
				height: 100%;
				width: 100%;
				position: relative;
				top: 0.3em;
			}
		}
		#profileTiny{
			width: 4em;
			border-radius: 100%;
			border: 1px solid black;
		}
	}

	div#displayInfo {
		width: 90vw;
		margin: 0 auto;
		padding: 1em;
		div.profileHolder{
			width: 10vw;
			margin: 0 auto;
			img#userPic {
			width: 100%;
			}
		}
		.userInfo {
			line-height: 100%;
			text-align: center;
		}
		
	}

	.gallery {
		padding: 1em 2em;
		ul#instaFeed {
			display: flex;
			flex-flow: row wrap;
			list-style: none;
			justify-content: space-around;
			border-top: 1px solid #bbb;
			border-bottom: 1px solid #bbb;
			padding-bottom: 2em;
			padding-top: 1em;
			li.insta-image {
				width: 20vw;
			}
			a img {
				width: 100%;
			} 
		}
	}

	
	#displayInfo{
		background-color: #fff;
		#userPic{
			border-radius: 100%;
		}
	}
	footer{
		text-align: center;
	}
} 